
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: blue;
}


.day_section {
  border:1px solid red
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.input-part {
  margin: 20px 25px 30px;
  
}

.input-part.active {
  display: none;
}

.weatherPart {
  display: flex;
  align-items: center;
  background-color: goldenrod;
  
}

.weatherPart.active {
 
  display: none;
  
}

.title-date {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: red;
}

.weather_item {
  border-left: 3px solid grey;
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
   
}

.img {
  width:50px;
  height: auto;
}
